{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block style %}
    <link rel="stylesheet" href="{% static 'user_profile/style.css' %}">
{% endblock style %}


{% block title %}
Login
{% endblock title %}


{% block content %}

<div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered text-center">
        <div class="modal-content myform">
            <div class="modal-header justify-content-center" id="formError">
                <h3>Log In</h3>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'login' %}" id="loginForm">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn b-yes mt-3 me-1" type="submit">Log In</button>
                    <a class="btn b-no mt-3 ms-1" href="{% url 'home-page' %}">Cancel</a>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <h6>If you dont have an account <a class="sign-log-in" href="{% url 'registration' %}">Sign Up</a> for free</h6>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
    <script src="{% static 'user_profile/login.js' %}"></script>
{% endblock js %}