{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block style %}
    <link rel="stylesheet" href="{% static 'user_profile/style.css' %}">
{% endblock style %}


{% block title %}
Profile
{% endblock title %}


{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        {% if profile.first_name is None or profile.last_name is None or profile.phone_number is None %}
            <h3 id="finish-registration">Please click <a id="finish-registration-btn" href="{% url 'update-profile' %}">Here</a> to finish your registration by adding Name and Phone Number so potencial buyers can contact you.</h3>
        {% endif %}
        <div class="profile">
            {% thumbnail profile.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <h1>{{ profile.get_name }}</h1>
            <div class="profile-btns">
                <a class="btn mybtn" href="{% url 'update-profile' %}">Update Profile</a>
            </div>
        </div>
        <div class="profile-content">
            <div>
                <div class="profile-content-btns">
                    {% if profile.first_name is not None and profile.last_name is not None and profile.phone_number is not None %}
                        <a href="{% url 'new-post' %}" class="btn mybtn">New Post</a>
                    {% endif %}
                    <a id='myPosts' href="{% url 'my-posts' %}"  class="btn mybtn">My Posts</a>
                    <a id="myFollows" href="{% url 'my-follows' %}" class="btn mybtn">My Follows</a>
                </div>
                <div id="postWall" class="row">
                    {% for post in page_obj.object_list %}
                        <div class="profile-post">
                            {% include 'post/post.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block pagination %}
    {% if page_obj.has_previous %}
        <a class="profile-pagination" href="{% url 'my-posts' %}">&lt&lt</a>
        <a class="profile-pagination" href="{% url 'my-posts-posts' page_obj.previous_page_number %}">Previous</a>
    {% endif %}
        <a class="profile-pagination" href="">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    {% if page_obj.has_next %}
        <a class="profile-pagination" href="{% url 'my-posts' page_obj.next_page_number %}">Next</a>
        <a class="profile-pagination" href="{% url 'my-posts' page_obj.paginator.num_pages %}">&gt&gt</a>
    {% endif %}
{% endblock pagination %}

{% block js %}
    
{% endblock js %}