{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block style %}
    <link rel="stylesheet" href="{% static 'user_profile/style.css' %}">
{% endblock style %}


{% block title %}
Profile
{% endblock title %}


{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="profile">
            {% thumbnail profile.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <h1>{{ profile.user }}</h1>
            <div class="profile-btns">
                <button class="btn mybtn">btn1</button>
                <button class="btn mybtn">btn2</button>
                <button class="btn mybtn">btn3</button>
            </div>
        </div>
        <div class="profile-content">
            <div>
                <div class="profile-content-btns">
                    <a href="{% url 'new-post' %}" class="btn mybtn">Post</a>
                    <a id='myPosts'  class="btn mybtn">My Posts</a>
                    <a class="btn mybtn">btn3</a>
                    <a class="btn mybtn">btn4</a>
                </div>
                <div id="postWall" class="row">
                    {% for post in posts %}
                        <div class="profile-post">
                            {% include 'post/post.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
    <script src="{% static 'user_profile/my_posts.js' %}"></script>
{% endblock js %}