{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block style %}
    <link rel="stylesheet" href="{% static 'user_profile/style.css' %}">
{% endblock style %}


{% block title %}
Profile
{% endblock title %}


{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 col-lg-4 me-5 mb-5 text-center">
            <div class="row profile mx-1">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-12 mt-3 mb-3">
                            {% thumbnail profile.image "270x270" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        </div>
                        <h1 class="col-12 col-sm-6 col-lg-12 mt-3 mb-3">{{ profile.user }}</h1>
                        <div class="col-12 col-md-6 col-lg-12 mb-3">
                            <button class="btn profile mx-1">btn1</button>
                            <button class="btn profile mx-1">btn2</button>
                            <button class="btn profile mx-1">btn3</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <button class="btn profile mx-1">btn1</button>
                    <button class="btn profile mx-1">btn2</button>
                    <button class="btn profile mx-1">btn3</button>
                    <button class="btn profile mx-1">btn4</button>
                </div>
                <div class="col-10 col-sm-5 m-4 post px-0">
                    <div class="row">
                        <div class="col-12 col-sm-12 d-flex justify-content-center">
                            <img src="../../../static/images/car2.jpg" width="470px" height="220px">
                            <!-- {% thumbnail profile.image "450x200" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %} -->
                        </div>
                        <h4 class="col-12 col-sm-12 mt-3 ms-2 pot">Mercedes AMG BLA BLA</h4>
                        <hr>
                        <h3 class="col-12 col-sm-12 ms-2 text-success">150.000$</h3>
                        <h5 class="col-12 col-sm-12 ms-2 pot">2000, Petrol, 100.200km</h5>
                        <h6 class="col-12 col-sm-12 ms-2 mt-2 pot">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae recusandae incidunt officiis dicta consequatur, sequi ab eligendi vitae enim odit fugiat mollitia minus vero tenetur, reiciendis neque explicabo! Earum, culpa.</h6>
                    </div>
                </div>
                <div class="col-10 col-sm-5 m-4 post px-0">
                    <div class="row">
                        <div class="col-12 col-sm-12 d-flex justify-content-center">
                            <img src="../../../static/images/car2.jpg" width="470px" height="220px">
                            <!-- {% thumbnail profile.image "450x200" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %} -->
                        </div>
                        <h4 class="col-12 col-sm-12 mt-3 ms-2 pot">Mercedes AMG BLA BLA</h4>
                        <hr>
                        <h3 class="col-12 col-sm-12 ms-2 text-success">150.000$</h3>
                        <h5 class="col-12 col-sm-12 ms-2 pot">2000, Petrol, 100.200km</h5>
                        <h6 class="col-12 col-sm-12 ms-2 mt-2 pot">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae recusandae incidunt officiis dicta consequatur, sequi ab eligendi vitae enim odit fugiat mollitia minus vero tenetur, reiciendis neque explicabo! Earum, culpa.</h6>
                    </div>
                </div>
                <div class="col-10 col-sm-5 m-4 post px-0">
                    <div class="row">
                        <div class="col-12 col-sm-12 d-flex justify-content-center">
                            <img src="../../../static/images/car2.jpg" width="470px" height="220px">
                            <!-- {% thumbnail profile.image "450x200" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %} -->
                        </div>
                        <h4 class="col-12 col-sm-12 mt-3 ms-2 pot">Mercedes AMG BLA BLA</h4>
                        <hr>
                        <h3 class="col-12 col-sm-12 ms-2 text-success">150.000$</h3>
                        <h5 class="col-12 col-sm-12 ms-2 pot">2000, Petrol, 100.200km</h5>
                        <h6 class="col-12 col-sm-12 ms-2 mt-2 pot">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae recusandae incidunt officiis dicta consequatur, sequi ab eligendi vitae enim odit fugiat mollitia minus vero tenetur, reiciendis neque explicabo! Earum, culpa.</h6>
                    </div>
                </div>
                <div class="col-10 col-sm-5 m-4 post px-0">
                    <div class="row">
                        <div class="col-12 col-sm-12 d-flex justify-content-center">
                            <img src="../../../static/images/car2.jpg" width="470px" height="220px">
                            <!-- {% thumbnail profile.image "450x200" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %} -->
                        </div>
                        <h4 class="col-12 col-sm-12 mt-3 ms-2 pot">Mercedes AMG BLA BLA</h4>
                        <hr>
                        <h3 class="col-12 col-sm-12 ms-2 text-success">150.000$</h3>
                        <h5 class="col-12 col-sm-12 ms-2 pot">2000, Petrol, 100.200km</h5>
                        <h6 class="col-12 col-sm-12 ms-2 mt-2 pot">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae recusandae incidunt officiis dicta consequatur, sequi ab eligendi vitae enim odit fugiat mollitia minus vero tenetur, reiciendis neque explicabo! Earum, culpa.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}

{% endblock js %}