<div class="modal fade" id="coupeModal" tabindex="-1" aria-labelledby="coupeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="coupeModallLabel">Coupe:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for coupe in coupes %}
          <a href="{% url 'coupe-search' coupe.type %}" class="btn mybtn coupe-search">{{ coupe.type }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>