<div class="modal fade" id="fuelModal" tabindex="-1" aria-labelledby="fuelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fuelModallLabel">Fuel:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for fuel in fuels %}
            <a href="{% url 'fuel-search' fuel.type %}" class="btn mybtn fuel-search">{{ fuel.type }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
</div>