<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="locationModallLabel">Location:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="location-form" action="{% url 'location-search' %}" method="POST">
            {% csrf_token %}
            <input name="location-input" id="location-input" class="mybtn" type="text" placeholder="Location...">
            <button class="btn mybtn" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
</div>