<div class="modal fade" id="priceLimitModal" tabindex="-1" aria-labelledby="priceLimitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="priceLimitModallLabel">Price Limit:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="">
                <input class="mybtn" type="text" placeholder="Choose Limit...">
                <button class="btn mybtn">Search</button>
            </form>
        </div>
      </div>
    </div>
</div>