<div id="search-menu" class="mb-3">       
    <button id="coupe-modal-btn" type="button" class="btn mybtn" data-bs-toggle="modal" data-bs-target="#coupeModal">Coupe</button>
    <button id="model-modal-btn" type="button" class="btn mybtn" data-bs-toggle="modal" data-bs-target="#modelModal">Model</button>
    <button type="button" class="btn mybtn" data-bs-toggle="modal" data-bs-target="#fuelModal">Fuel</button>
    <button type="button" class="btn mybtn" data-bs-toggle="modal" data-bs-target="#transmissionModal">Transmission</button>
    <button type="button" class="btn mybtn" data-bs-toggle="modal" data-bs-target="#priceLimitModal">Price Limit</button>
    <button type="button" class="btn mybtn" data-bs-toggle="modal" data-bs-target="#locationModal">Location</button>
    <button type="button" class="btn mybtn" data-bs-toggle="modal" data-bs-target="#yearModal">Year</button>
    <button type="button" class="btn mybtn" data-bs-toggle="modal" data-bs-target="#doorsModal">Number of Doors</button>
    <a id="reset-search-btn" class="btn mybtn" href="">Reset Search</a>
</div>