<div class="modal fade" id="transmissionModal" tabindex="-1" aria-labelledby="transmissionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="transmissionModallLabel">Transmission:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for transmission in transmissions %}
            <a href="{% url 'transmission-search' transmission.type %}" class="btn mybtn transmission-search">{{ transmission.type }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
</div>