<div class="row">
    <h6 class="post-created">{{ post.created|date:"F j, Y, g:i A" }}</h6>
    <a class="followBtn" href="{% url 'follow-unfollow' post.pk %}">{{ post.result }}</a>
    <a class="post-link" href="{{ post.get_absolute_url }}">
        <div class="post-image">
            <img class="post-thumbnail" src="{{ post.main_picture.url }}" alt="">
        </div>
        <h4 class="mt-3 ms-2 pot">{{ post.model }}</h4>
        <hr>
        <h3 class="ms-2 text-success">{{ post.price }}$</h3>
        <h5 class="ms-2 pot">{{ post.year_made }}, {{ post.fuel }}, {{ post.mileage }}km</h5>
        <h6 class="ms-2 mt-2 pot">{{ post.more_info }}</h6>
    </a>
</div>


