{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block style %}
    <link rel="stylesheet" href="{% static 'post/style.css' %}">
{% endblock style %}


{% block title %}
Post Details
{% endblock title %}


{% block content %}

<div class="container my-5">
    <div class="row post-details">
        {% if request.user.profile == post.author %}
        <div class="post-menu dropdown">
            <a href="#" id="postMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">...</a>
            <ul class="dropdown-menu" aria-labelledby="postMenu">
                <li><a class="post-update" href="{% url 'update-post' post.pk %}">Update</a></li>
                <li><a class="post-delete" href="{% url 'delete-post' post.pk %}">Delete</a></li>
            </ul>
        </div>
        {% endif %}
        <h1 class="post-model">{{ post.model }}</h1>
        <h1 class="post-price">{{ post.price }}${% if post.price_negotiable is True %} / Price negotiable{% endif %}</h1>
        <h3>{% if post.new_importation is True %}New Importation{% endif %}</h3>
        <div id="mainPicture" class="post-main-picture">
            <img src="{{ post.main_picture.url }}">
        </div>
        <div class="post-pictures row">
            <div class="post-picture">
                <img src="{{ post.main_picture.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_2.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_3.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_4.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_5.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_6.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_7.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_8.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_9.url }}">
            </div>
            <div class="post-picture">
                <img src="{{ post.picture_10.url }}">
            </div>
        </div>
        <div class="post-title">
            <h5>{{ post.year_made }}, {{ post.coupe }}, {{ post.condition }},
                 {{ post.fuel }}, {{ post.mileage }}km, {{ post.gearbox }} transmission,
                  {{ post.horsepower }}hP, {{ post.engine_size }}cc, {{ post.number_of_doors }} doors, {{ post.color }}</h5>
        </div>
        <div class="post-info">
            <h6><b>More Information:</b>{{ post.more_info }}</h6>
        </div>
        <div class="post-extras">
            <h6><b>Extras:</b>
                {% for extra in post.extras.extra %}
                    {{ extra }},
                {% endfor %}
            </h6>
        </div>
        <div class="contact">
            <h6><b>Located at:</b> {{ post.located_at }}</h6>
            <h6><b>{{ post.author }}</b>, {{ post.author.city }}</h6>
            <h6><b>For Contact:</b>{{ post.author.phone_number }}</h6>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
    <script src="{% static 'post/swap_pictures.js' %}"></script>
{% endblock js %}