/* --------------------- Media ------------------- */

@media only screen and (max-width: 600px){
    .post-created{
        width: 80%;
        margin: auto;
    }
    .followBtn{
        width: 20%;
    }
    .post-main-picture{
        width: 100%;
        height: 300px;
    }
    .post-pictures{
        display: none;
    }
}

@media only screen and (min-width: 600px){
    .post-created{
        width: 80%;
        margin: auto;
    }
    .followBtn{
        width: 20%;
    }
    .post-main-picture{
        width: 100%;
        height: 350px;
    }
    .post-pictures{
        display: none;
    }
}

@media only screen and (min-width: 768px){
    .post-main-picture{
        width: 70%;
    }
    .post-picture{
        width: 100%;
        height: 150px;
    }
    .post-pictures{
        display: block;
        width: 30%;
        height: 350px;
        overflow: hidden;
        overflow: scroll;
        margin: auto;
        padding: 0%;
    }
    .post-model{
        width: 50%;
    }
    .post-price{
        width: 50%;
        text-align: right;
    }
    .post-model, .post-price{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 922px){
    .post-main-picture{
        width: 70%;
        height: 450px;
    }
    .post-pictures{
        width: 30%;
        height: 450px;

    }
}

@media only screen and (min-width: 1200px){
    .post-main-picture{
        height: 650px;
    }
    .post-pictures{
        height: 650px;
    }
    .post-picture{
        height: 200px;
    }
}

/* --------------------- End of media --------------- */



.post-menu{
    display: flex;
    justify-content: right;
    text-align: right;
}
.post-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-extras{
    margin-bottom: 20px;
}

.post-details, .dropdown-menu{
    border: none;
    box-shadow: 0px 0px 6px 2px #8a2be2;
    background-color: white;
    overflow: hidden;
}
.dropdown-menu{
    text-align: center;
}
.post-update:hover{
    color: blue;
    font-size: x-large;
}
.post-delete:hover{
    color: red;
    font-size: x-large;
}
.post-main-picture, .post-picture{
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    padding: 0%;
}
.my-img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.post-price{
    color: green;
}

::-webkit-file-upload-button {
    opacity: 0;
  }


/* Post form pictures fields */
#div_id_main_picture, #div_id_picture_2, #div_id_picture_3, #div_id_picture_4, #div_id_picture_5, #div_id_picture_6,
#div_id_picture_7, #div_id_picture_8, #div_id_picture_9, #div_id_picture_10{
    border: solid 1px #8a2be2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Post form fields */
.numberinput, .textinput, .nullbooleanselect, .textarea, .selectmultiple, .select{
    border-color: #8a2be2;
}

/* Post form multicheckbox field */
#div_id_extras{
    height: 10rem;
    overflow: scroll;
    border: solid 1px #8a2be2;
}
