{% if page_obj.has_previous %}
    <a class="pagination" href="{% url 'all-posts' %}">&lt&lt</a>
    <a class="pagination" href="{% url 'all-posts' page_obj.previous_page_number %}">Previous</a>
{% endif %}
    <a class="pagination" href="">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
{% if page_obj.has_next %}
    <a class="pagination" href="{% url 'all-posts' page_obj.next_page_number %}">Next</a>
    <a class="pagination" href="{% url 'all-posts' page_obj.paginator.num_pages %}">&gt&gt</a>
{% endif %}