{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'post/style.css' %}">
{% endblock style %}


{% block title %}
HOME
{% endblock title %}


{% block content %}
    <div class="container-fluid mt-5">
            {% include 'search/search_bar.html' %}
        <div id="main-page-post-wall" class="row">
            {% for post in page_obj.object_list %}
                <div class="post">
                    {% include 'post/post.html' %}
                </div>
            {% endfor %}
        </div>
        {% include 'search/coupe_search_modal.html' %}
        {% include 'search/model_search_modal.html' %}
        {% include 'search/fuel_search_modal.html' %}
        {% include 'search/transmission_search_modal.html' %}
        {% include 'search/price_limit_search_modal.html' %}
        {% include 'search/location_search_modal.html' %}
        {% include 'search/year_search_modal.html' %}
    </div>
{% endblock content %}


{% block pagination %}
    {% if page_obj.has_previous %}
        <a class="pagination" href="{% url 'all-posts' %}">&lt&lt</a>
        <a class="pagination" href="{% url 'all-posts' page_obj.previous_page_number %}">Previous</a>
    {% endif %}
    <a class="pagination" href="">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    {% if page_obj.has_next %}
        <a class="pagination" href="{% url 'all-posts' page_obj.next_page_number %}">Next</a>
        <a class="pagination" href="{% url 'all-posts' page_obj.paginator.num_pages %}">&gt&gt</a>
    {% endif %}
{% endblock pagination %}


{% block js %}{% endblock js %}