{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'post/style.css' %}">
{% endblock style %}


{% block title %}
HOME
{% endblock title %}


{% block content %}
    <div class="container-fluid mt-5">
            {% include 'search/search_bar.html' %}
        <div id="main-page-post-wall" class="row">
            {% for post in posts %}
                <div class="post">
                    {% include 'post/post.html' %}
                </div>
            {% endfor %}
        </div>
        {% include 'search/coupe_search_modal.html' %}
        {% include 'search/model_search_modal.html' %}
        {% include 'search/fuel_search_modal.html' %}
        {% include 'search/transmission_search_modal.html' %}
        {% include 'search/price_limit_search_modal.html' %}
        {% include 'search/location_search_modal.html' %}
        {% include 'search/year_search_modal.html' %}
    </div>
{% endblock content %}

{% block js %}{% endblock js %}