.profile-btns{
    padding-top: 60px;
}

.profile-content-btns{
    margin-bottom: 18px;
    text-align: center;
}

.profile{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
}
